*{
    box-sizing: border-box;
}
body{
    margin: 20px;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;

}
.header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}
.conten{
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;


}
.red-social{
    width:95%;
	max-width:900px;
	padding:32px 64px;
	margin:auto;
    width:48px;
	position:fixed;
	top:50px;
	right: 20px;;

}
.red-social{
    top:50%;
	height:205px;
    vertical-align: baseline;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video video{
    min-width: 100%;
    max-width: 100%;
}
.header-ovelay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #6e6b6b;
    z-index: 1;
    opacity: .2;
}
.header-content{
    z-index: 2;

}
.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.header-content p{
font-size: 1.5rem;
display: block;
padding-bottom: 2rem;}

.btn{
    background: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;

}
#menu {
    float:left;
    width:100%;
    height:40px;
    /* background-color:#003399; */
    z-index:9999;
    margin-top:60px;
    position: absolute;
   top:0px; left: 0px;
}

#menu li {
    float:right;
    list-style:none;
    height:40px;
  
    text-align:center;
}

#menu li a {
   
    color: #FFFFFF;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 5px 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute;
    top: 40px; left: 40px; */
    text-align: center;
    text-decoration: none;
    z-index: 1;
    
}
#menu li a:hover {
    color:#003399;
    background-color: #999999;
    text-decoration:none;
}
.secciondos .header-content{
   padding-left: 90px;

}
.secciondos .header-content h1{
    font-size: 28px;
    margin-bottom: 0;
    color: #6ad7f8;
    font-family: Arial, Helvetica, sans-serif;

}
.secciondos .header-content p{

font-size: 55px;
display: block;
padding-bottom: 2rem;
color: #131111;}

.secciondos .btn{
    border-color: rgb(56, 186, 246);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;

}
:hover .secciondos .btn{
    background-color: rgb(66, 136, 248);
}
.secciontres{
    padding-left: 90px;
    float: left;
}
.secciontres .card{
    margin-top: 48px;
    height: 120px;
    margin-right: 90px;
    background: linear-gradient(-90deg, #BF019F,#F28A, );
    box-shadow: 1px 5px 15px #a2a2a2;
    float: left;

}
.titulo2 h1{
    position: relative;
    top: 290px;
    font-size: 20px;
    padding-left: 90px;
    width: 400px;
    color: #04303d;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.titulo3 h1{
    position: relative;
    top: 340px;
    font-size: 20px;
    padding-left: 90px;
    width: 400px;
    color: #04303d;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.titulo4 h1{
    position: relative;
    top: 440px;
    font-size: 20px;
    padding-left: 90px;
    width: 400px;
    color: #1177eb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


.container-slider{
    
  position: relative;
  top: 310px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff 0 15px 50px;
    display: flex;
    /* min-height: 100vh;
    background:#999999; */
    position: relative;
}
.slider{
    padding: auto;
    display: flex;
    width: 500%;
    height: 500%;
    margin-left: -200%;
}

.slider-section{
    width: 100%;
}
.slider-img{
    
   padding-right: 20px;
    padding: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.slider-btn:hover{
    background: #fff;
}
.slider-btn-left{
    left: 10px;
}
.slider-btn-right{
    right: 10px;
}

.container-slider2{
    
    position: relative;
    top: 410px;
      width: 90%;
      max-width: 900px;
      margin: auto;
      overflow: hidden;
      box-shadow: 0 0 0 10px #fff 0 15px 50px;
      display: flex;
      /* min-height: 100vh;
      background:#999999; */
      position: relative;
  }
  .slider2{
      padding: auto;
      display: flex;
      width: 500%;
      height: 500%;
      margin-left: -200%;
  }
  
  .slider-section2{
      width: 100%;
  }
  .slider-img2{
      
     padding-right: 20px;
      padding: auto;
      display: block;
      width: 80%;
      height: 80%;
      object-fit: cover;
  }
  .slider-btn2{
      position: absolute;
      width: 40px;
      height: 40px;
      background: rgba(255,255,255,0.7);
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
      font-weight: bold;
      font-family: monospace;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
  
  }
  
.formulario {
    position: relative;
    left: 8em;
    position: relative;
    top: 500px;
    left: 200px;
	background: #fff;
	width: 500px;
    padding-left: 100px;
	margin: 20px auto;
	padding: 10px;
	border-radius: 5px;
}


.formulario input {
	display: iblock;
    position: relative;
   left: 12em;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
   
	width: 80%;
	padding: 20px;
	margin-bottom: 5px;
	border-radius: 3px;
	border:1px solid #3984e0;
	font-size: 12px;
	font-family: Arial;
}

.formulario textarea {
    position: relative;
   left: 12em;
	min-height: 80px;
	max-height: 100px;
	min-width: 90%;
	max-width: 90%;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
	border:2px solid #6bb3f7;
}

.formulario input[type="submit"] {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	border:1px solid #07b6fc;
	color: #0c95f0;
	background: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
}

.formulario input[type="submit"]:hover {
	background: #05a2eb;
	color: #fff;
}
.mapa{
    display: flex;
    justify-content: space-between;
    position: relative;
   left: 8em;
}
  
  .slider-btn2:hover{
      background: #fff;
  }
  .slider-btn-left2{
      left: 10px;
  }
  .slider-btn-right2{
      right: 10px;
  }
  /*:::::Pie de Pagina*/
.pie-pagina{
    position: relative;
    top: 50px;
    width: 100%;
    background-color: #170483;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #fafafa;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #215a92;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0983f5;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media(max-whidth:960px){
    .conten{
        padding: 0 3rem;
    }
}





